<div class="mdl-cell mdl-cell--4-col">
  {{#mdl-card title="Despesas por categoria" class="match-parent"}}
    <div class="mdl-card__supporting-text">
      {{ember-chart type="Doughnut" data=model.expensesGroupedByCategory options=chartOptions legend=true}}
    </div>
  {{/mdl-card}}
</div>

<div class="mdl-cell mdl-cell--4-col">
  {{#mdl-card title="Ganhos por categoria" class="match-parent"}}
    <div class="mdl-card__supporting-text">
      {{ember-chart type="Doughnut" data=model.revenueGroupedByCategory options=chartOptions legend=true}}
    </div>
  {{/mdl-card}}
</div>

{{#if hasManyGroups}}
  <div class="mdl-cell mdl-cell--4-col">
    {{#mdl-card title="Despesas por grupo" class="match-parent"}}
      <div class="mdl-card__supporting-text">
        {{ember-chart type="Doughnut" data=model.expensesGroupedByGroup options=chartOptions legend=true}}
      </div>
    {{/mdl-card}}
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    {{#mdl-card title="Ganhos por grupo" class="match-parent"}}
      <div class="mdl-card__supporting-text">
        {{ember-chart type="Doughnut" data=model.revenueGroupedByGroup options=chartOptions legend=true}}
      </div>
    {{/mdl-card}}
  </div>
{{/if}}

{{#if hasManyUsers}}
  <div class="mdl-cell mdl-cell--4-col">
    {{#mdl-card title="Despesas por usuário" class="match-parent"}}
      <div class="mdl-card__supporting-text">
        {{ember-chart type="Doughnut" data=model.expensesGroupedByUser options=chartOptions legend=true}}
      </div>
    {{/mdl-card}}
  </div>

  <div class="mdl-cell mdl-cell--4-col">
    {{#mdl-card title="Ganhos por usuário" class="match-parent"}}
      <div class="mdl-card__supporting-text">
        {{ember-chart type="Doughnut" data=model.revenueGroupedByUser options=chartOptions legend=true}}
      </div>
    {{/mdl-card}}
  </div>
{{/if}}
