<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Despesas por categoria</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField="category"}}
      </p>
      <div class="md-actions" layout="row" layout-align="end center">
        {{#link-to 'report' 'category' 'expenses'}}{{#md-button}}Ver detalhes{{/md-button}}{{/link-to}}
      </div>
    </md-card-content>
</md-card>

<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Ganhos por categoria</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField="category" isRevenue=true}}
      </p>
      <div class="md-actions" layout="row" layout-align="end center">
        {{#link-to 'report' 'category' 'revenue'}}{{#md-button}}Ver detalhes{{/md-button}}{{/link-to}}
      </div>
    </md-card-content>
</md-card>

<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Despesas por grupo</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField="group" fieldName="group.name"}}
      </p>
      <div class="md-actions" layout="row" layout-align="end center">
        {{#link-to 'report' 'group' 'expenses'}}{{#md-button}}Ver detalhes{{/md-button}}{{/link-to}}
      </div>
    </md-card-content>
</md-card>

<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Ganhos por grupo</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField="group" fieldName="group.name" isRevenue=true}}
      </p>
      <div class="md-actions" layout="row" layout-align="end center">
        {{#link-to 'report' 'group' 'revenue'}}{{#md-button}}Ver detalhes{{/md-button}}{{/link-to}}
      </div>
    </md-card-content>
</md-card>

<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Despesas por usuário</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField="user" fieldName="user.name"}}
      </p>
      <div class="md-actions" layout="row" layout-align="end center">
        {{#link-to 'report' 'user' 'expenses'}}{{#md-button}}Ver detalhes{{/md-button}}{{/link-to}}
      </div>
    </md-card-content>
</md-card>

<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Ganhos por usuário</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField="user" fieldName="user.name" isRevenue=true}}
      </p>
      <div class="md-actions" layout="row" layout-align="end center">
        {{#link-to 'report' 'user' 'revenue'}}{{#md-button}}Ver detalhes{{/md-button}}{{/link-to}}
      </div>
    </md-card-content>
</md-card>
