{{partial 'invoices-filter-form'}}
<div md-scroll-y layout="row" layout-wrap>
  <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
      <md-card-content>
        <h2 class="md-title">Despesas por categoria</h2>
        <p>
          {{grouped-invoices list=filteredModel groupByField="category"}}
        </p>
      </md-card-content>
  </md-card>

  <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
      <md-card-content>
        <h2 class="md-title">Ganhos por categoria</h2>
        <p>
          {{grouped-invoices list=filteredModel groupByField="category" isRevenue=true}}
        </p>
      </md-card-content>
  </md-card>
  
  {{#if hasManyGroups}}
    <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
        <md-card-content>
          <h2 class="md-title">Despesas por grupo</h2>
          <p>
            {{grouped-invoices list=filteredModel groupByField="group" fieldName="group.name"}}
          </p>
        </md-card-content>
    </md-card>

    <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
        <md-card-content>
          <h2 class="md-title">Ganhos por grupo</h2>
          <p>
            {{grouped-invoices list=filteredModel groupByField="group" fieldName="group.name" isRevenue=true}}
          </p>
        </md-card-content>
    </md-card>
  {{/if}}
  
  {{#if hasManyUsers}}
    <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
        <md-card-content>
          <h2 class="md-title">Despesas por usuário</h2>
          <p>
            {{grouped-invoices list=filteredModel groupByField="user" fieldName="user.name"}}
          </p>
        </md-card-content>
    </md-card>

    <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
        <md-card-content>
          <h2 class="md-title">Ganhos por usuário</h2>
          <p>
            {{grouped-invoices list=filteredModel groupByField="user" fieldName="user.name" isRevenue=true}}
          </p>
        </md-card-content>
    </md-card>
  {{/if}}
    
    <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
      <md-card-content>
        <h2 class="md-title">Principais Gastos</h2>
        <p>
          {{grouped-invoices list=filteredModel groupByField="description" showGraph=false listSize=5}}
        </p>
      </md-card-content>
    </md-card>
    
    <md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
      <md-card-content>
        <h2 class="md-title">Principais Ganhos</h2>
        <p>
          {{grouped-invoices list=filteredModel groupByField="description" showGraph=false listSize=5 isRevenue=true}}
        </p>
      </md-card-content>
    </md-card>
</div>
