{{#mdl-card}}
  <div class="mdl-card__supporting-text">
    <form {{action 'save' on="submit"}} method="post">
      {{mdl-textfield label='Valor' type='number' value=value step=0.01 autofocus=true}}
      {{#unless revenue}}
        {{#each categories as |categoryItem|}}
          {{mdl-radio value=categoryItem label=categoryItem name='category'}}
        {{/each}}
        {{#if error}}
          <span style="color: red;">{{error}}</span>
        {{/if}}
      {{/unless}}
      {{mdl-textfield label='Descrição' value=description}}
      {{mdl-textfield label='Data' value=date type="date"}}
      <div class="{{if hasManyGroups '' 'hide'}}">
        {{#each session.currentUser.groups as |groupItem|}}
          {{mdl-radio value=groupItem label=groupItem.name name='group'}}
        {{/each}}
      </div>
      <div class="{{if hasManyUsers '' 'hide'}}">
        {{#each session.currentUser.allUsers as |userItem|}}
          {{mdl-radio value=userItem label=userItem.name name='user'}}
        {{/each}}
      </div>
      {{#mdl-button type="submit"}}Salvar{{/mdl-button}}
    </form>
  </div>
{{/mdl-card}}
