<form {{action 'addInvoice' on="submit"}} method="post">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{input value=value type="number" required="true" id="invoice_value" classNames="mdl-textfield__input"}}
    <label class="mdl-textfield__label" for="invoice_value">Valor</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{input value=category id="invoice_category" classNames="mdl-textfield__input"}}
    <label class="mdl-textfield__label" for="invoice_category">Categoria</label>
  </div>
  <div>
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="invoice_revenue">
      {{input type="checkbox" checked=revenue id="invoice_revenue" classNames="mdl-checkbox__input"}}
      <span class="mdl-checkbox__label">Ganho?</span>
    </label>
  </div>
  <div>
    {{input type="submit" value="Adcionar Conta" classNames="mdl-button mdl-js-button mdl-button--primary"}}
  </div>
</form>
