<form {{action 'addInvoice' on="submit"}} method="post">
  {{mdl-textfield label='Valor' type='number' required=true value=value}}
  <div>
    {{#each categories as |categoryItem|}}
      {{mdl-radio value=categoryItem label=categoryItem name=category}}
    {{/each}}
  </div>
  {{mdl-textfield label='Descrição' value=description}}
  {{mdl-textfield label='Data' value=date required=true type="date"}}
  {{mdl-checkbox value=revenue label='Ganho?'}}
  <div>
    {{input type="submit" value="Adcionar Conta" classNames="mdl-button mdl-js-button mdl-button--primary"}}
  </div>
</form>
