<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">{{revenueOrExpense}} por {{type}}</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField=groupByField fieldName=fieldName isRevenue=isRevenue}}
      </p>
    </md-card-content>
</md-card>

<md-card flex-gt-lg="30" flex-lg="45" flex-md="90" flex-sm="90">
    <md-card-content>
      <h2 class="md-title">Principais {{revenueOrExpense}}</h2>
      <p>
        {{grouped-invoices list=filteredModel groupByField='description' isRevenue=isRevenue showGraph=false}}
      </p>
    </md-card-content>
</md-card>
