{{#md-list-item class="md-3-line"}}
    <div class="md-avatar" alt="{{model.category}}" style="background-color: indigo; color: white;">{{model.categoryAbbrev}}</div>
    <div class="md-list-item-text">
      <h3>
        {{model.category}}
        {{number-to-currency value=model.value isRevenue=model.revenue}}
      </h3>
      <h4>{{model.description}}</h4>
      <p>
        {{model.formattedDate}}
        <button {{action 'deleteInvoice'}}>Apagar</button>
        {{#link-to 'edit-invoice' model}}Editar{{/link-to}}
      </p>
    </div>
{{/md-list-item}}
