<h4>Contas</h4>
{{#each invoicesList as |invoice|}}
  {{ invoice.id }}<br>
  {{ invoice.category }}<br>
  {{ invoice.date }}<br>
  {{ invoice.value }}<br>
  {{invoice.group.name}}<br>
  {{invoice.user.name}}<br>
  <hr>
{{/each}}
