{{#mdl-card title=cardTitle class="match-parent"}}
  {{#each invoicesList as |invoice|}}
    <div class="mdl-list icon">
      <div class="avatar-container">
        <div class="avatar" style="background-color: {{ invoice.categoryColor }}">
          {{ invoice.categoryAbbrev }}
        </div>
      </div>
      <section class="two-line item-body">
    	  <div>
          {{invoice.description}}
          {{number-to-currency value=invoice.value isRevenue=invoice.revenue}}
        </div>
        <div class="secondary">
          {{invoice.formattedDate}}
        </div>
      </section>
      <div class="action">
        {{#mdl-menu align='bottom-right' class='right'}}
          {{#mdl-menu-item amount=36.12}}Amount: 36.12{{/mdl-menu-item}}
          {{#mdl-menu-item amount=4.22}}Amount: 4.22{{/mdl-menu-item}}
          {{#mdl-menu-item amount=7.11}}Amount: 7.11{{/mdl-menu-item}}
        {{/mdl-menu}}
      </div>
    </div>
  {{/each}}
{{/mdl-card}}
