<div class="mdl-cell mdl-cell--4-col balance-card">
  Ganhos {{number-to-currency value=filteredModelRevenueValuesSum isRevenue=true}}
</div>
<div class="mdl-cell mdl-cell--4-col balance-card">
  Gastos {{number-to-currency value=filteredModelExpensesValuesSum}}
</div>
<div class="mdl-cell mdl-cell--4-col balance-card">
  Balanço {{number-to-currency value=filteredModelValuesBalance isRevenue=isfilteredModelValuesBalanceRevenue}}
</div>

{{invoices-list list=model list-size=3 cardTitle="Últimas contas"}}

{{grouped-invoices list=model groupByField="category" fieldName="category.name" cardTitle="Despesas por categoria"}}

{{#if hasManyGroups}}
  {{grouped-invoices list=model groupByField="group" fieldName="group.name" cardTitle="Despesas por grupo"}}
{{/if}}

{{#if hasManyUsers}}
  {{grouped-invoices list=model groupByField="user" fieldName="user.name" cardTitle="Despesas por usuário"}}
{{/if}}

{{grouped-invoices list=model groupByField="description" showGraph=false listSize=5 cardTitle="Principais despesas"}}
