{{#each toastNotifications as |toast|}}
  {{md-toast toast=toast}}
{{/each}}

<div layout="column" role="main" flex tabindex="-1">
    {{#md-toolbar class="md-tall"}}
        <div class="md-toolbar-tools">
            {{outlet "menu-action"}}
            <h2>
              <span>{{pageTitle}}</span>
            </h2>

            <span flex></span>
            
            {{#if session.isAuthenticated}}
              {{#md-menu as |menu|}}
                  {{#md-button class="md-icon-button" action='toggleMenu' param=menu}}
                      {{md-icon md-svg-icon="assets/images/icons/more_vert.svg" md-menu-origin='' style="width: 16px; height: 16px;"}}
                  {{/md-button}}

                  <md-menu-content width="6">
                      <md-menu-item>
                          {{#md-button action='invalidateSession'}}
                              {{md-icon md-svg-icon="assets/images/icons/close.svg"}}
                              Sair
                          {{/md-button}}
                      </md-menu-item>
                  </md-menu-content>
              {{/md-menu}}
            {{else}}
              {{#link-to 'login' activeClass="parentActive"}}
                {{#link-to 'login' class="md-button md-accent"}}Entrar{{/link-to}}
              {{/link-to}}
            {{/if}}

        </div>
        <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
          <span class="md-flex">
            {{partial 'main-menu'}}
          </span>
        </h2>
    {{/md-toolbar}}

    <md-content class="md-padding">
      {{liquid-outlet}}
      {{outlet 'main-fab'}}
    </md-content>
</div>
