{{#each toastNotifications as |toast|}}
  {{md-toast toast=toast}}
{{/each}}

<div layout="column" role="main" flex tabindex="-1">
    {{#md-toolbar class=toolbarClasses}}
        <div class="md-toolbar-tools">
            <h2>
              <span>{{pageTitle}}</span>
            </h2>

            <span flex></span>
            
            {{#if session.isAuthenticated}}
              <div hide-sm="">
                {{partial 'main-menu'}}
              </div>
              {{#md-button action='invalidateSession' class="md-accent"}}
                Sair
              {{/md-button}}
            {{else}}
              {{#link-to 'login' activeClass="parentActive"}}
                {{#link-to 'login' class="md-button md-accent"}}Entrar{{/link-to}}
              {{/link-to}}
            {{/if}}

        </div>
            
        {{#if session.isAuthenticated}}
          <div hide-gt-sm="">
            <h2 class="md-toolbar-tools md-toolbar-tools-bottom">
              {{partial 'main-menu'}}
            </h2>
          </div>
        {{/if}}
    {{/md-toolbar}}

    <md-content class="md-padding">
      {{liquid-outlet}}
    </md-content>


</div>
