<form {{action addOrEdit on="submit"}} method="post">
  {{#md-input-container value=value}}
      <label>Valor</label>
      {{md-input type="number" required="required" step=0.01 autofocus=true}}
  {{/md-input-container}}
  {{#unless revenue}}
    {{#each categories as |categoryItem|}}
      {{#md-radio-button value=categoryItem selected=category class="md-primary"}}
        {{categoryItem}}
      {{/md-radio-button}}
    {{/each}}
    {{#if error}}
      <span class="md-caption" style="color: red;">{{error}}</span>
    {{/if}}
  {{/unless}}
  {{#md-input-container value=description}}
      <label>Descrição</label>
      {{md-input}}
  {{/md-input-container}}
  {{#md-input-container value=date}}
      <label>Data</label>
      {{md-input type="date" required="required"}}
  {{/md-input-container}}
  <div class="{{if hasManyGroups '' 'hide'}}">
    {{#each session.currentUser.groups as |groupItem|}}
      {{#md-radio-button value=groupItem selected=group class="md-primary"}}
        {{groupItem.name}}
      {{/md-radio-button}}
    {{/each}}
  </div>
  <div class="{{if hasManyUsers '' 'hide'}}">
    {{#each session.currentUser.allUsers as |userItem|}}
      {{#md-radio-button value=userItem selected=user class="md-primary radio-button-hidden radio-button-avatar"}}
        <img class="md-avatar" src="{{userItem.image}}">
      {{/md-radio-button}}
    {{/each}}
  </div>
  <div>
    {{#md-button type="submit" classNames="md-accent md-raised"}}Salvar{{/md-button}}
  </div>
</form>
