<form {{action 'addInvoice' on="submit"}} method="post">
  {{#md-input-container value=value}}
      <label>Valor</label>
      {{md-input type="number" required="required"}}
  {{/md-input-container}}
  <div>
    {{#each categories as |categoryItem|}}
      {{#md-radio-button value=categoryItem selected=category class="md-primary"}}
        {{categoryItem}}
      {{/md-radio-button}}
    {{/each}}
  </div>
  {{#md-input-container value=description}}
      <label>Descrição</label>
      {{md-input}}
  {{/md-input-container}}
  {{#md-input-container value=date}}
      <label>Data</label>
      {{md-input type="date" required="required"}}
  {{/md-input-container}}
  {{#md-checkbox checked=revenue aria-label="Ganho?"}}
      Ganho?
  {{/md-checkbox}}
  <div>
    {{#each session.currentUser.groups as |groupItem|}}
      {{#md-radio-button value=groupItem selected=group class="md-primary"}}
        {{groupItem.name}}
      {{/md-radio-button}}
    {{/each}}
  </div>
  <div>
    {{#each session.currentUser.allUsers as |userItem|}}
      {{#md-radio-button value=userItem selected=user class="md-primary"}}
        {{userItem.name}}
      {{/md-radio-button}}
    {{/each}}
  </div>
  <div>
    {{#md-button type="submit" classNames="md-primary"}}Adcionar Conta{{/md-button}}
  </div>
</form>
